apiVersion: apps/v1
kind: Deployment
metadata:
  name: user-management-web
spec:
  replicas: 1
  selector:
    matchLabels:
      app: user-management
  template:
    metadata:
      labels:
        app: user-management
    spec:
      containers:
      - name: user-management
        image: user-management:latest
        ports:
        - containerPort: 3000
        env:
        - name: MONGO_URI
          value: mongodb://admin:password@mongodb-service:27017/userManagementDB?authSource=admin
        - name: PORT
          value: "3000"
        resources:
          requests:
            cpu: 100m
            memory: 128Mi
          limits:
            cpu: 500m
            memory: 512Mi